* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'open-sans';
    src: url(/font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'open-sans-bold';
    src: url(/font/OpenSans-ExtraBold.ttf);
}

body {
    font-family: 'open-sans', sans-serif;
    font-size: 14px;
}

.container,
section {
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1200px;
}

section {
    max-width: 1000px;
}

h3 {
    font-family: 'open-sans-bold', sans-serif;
    font-size: 20px;

    padding: 20px;
}




/*nav*/

nav {
    position: fixed;
    z-index: 2;

    background-color: white;
    border-bottom: #eaeaeb 1px solid;

    width: 100%;
    height: 70px;
    padding: 20px 25px;
}

.container-nav,
.row-nav {
    display: flex;
    justify-content: space-between;
}

.row-nav {
    align-items: center;
}

.logo-container {
    width: 30%;
}

#logo {
    width: 100%;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;

    gap: 22px;
    padding: 0 40px;
}

ul a {
    text-decoration: none;
    color: black;
    white-space: nowrap;
}

#start {
    background-color: #0060f6;
    border: none;
    color: white;

    padding: 6px 20px;

    font-size: 18px;
}




/*header*/

header {
    background-color: #B4D0E7;

    height: 820px;
    padding-top: 45px;

    text-align: left;
}

h1 {
    font-size: 80px;
    font-family: 'open-sans-bold', sans-serif;

    padding: 80px 0;
    text-align: left;
}

.row {
    display: flex;
    gap: 20px;
}

.small-container {
    width: 30%;
    height: 400px;
}

.text {
    margin-bottom: 30px;
}

.blue-button {
    background-color: #0060f6;
    border: none;
    color: white;

    padding: 12px 20px;
    margin-bottom: 30px;

    font-size: 14px;
}

.big-container {
    width: 70%;
    height: 465px;
}

img {
    width: 100%;
}

.arrow-down {
    font-size: 50px;

    margin-top: 100px;
}





/*main*/

/*start business plan*/
/*radio buttons section*/

h2 {
    font-family: 'open-sans-bold', sans-serif;
    font-size: 35px;
}

div>h2 {
    padding: 50px 0;
    margin-top: 100px;
}

.radio {
    display: inline-block;

    padding-right: 30px;
    margin-bottom: 80px;
}

.radio input {
    width: 14px;
    height: 14px;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

/*3 columns*/

.container-column {
    display: flex;
    gap: 30px;

    max-width: 1000px;
    height: auto;
}

.column>* {
    padding-left: 30px;
}

.column {
    border: #eaeaeb solid 1px;

    width: calc(100%/3);
}

.recipient {
    text-align: center;

    border-bottom: solid 1px #eaeaeb;

    padding: 10px 0;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 30px;
}

.features li {
    display: flex;
    align-items: top;
}

.column div div {
    color: #aaa19e;
}

.features li i {
    margin-top: 3px;
    margin-right: 6px;
}

.single {
    margin-top: 18.5px;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 0;
}

.column hr {
    border: 1px solid #eaeaeb;

    width: 60px;
    margin: 30px;
}

.fa-check,
.column div a,
section a {
    color: blue;
}

/*bottom row*/

.column-bottom {
    border: #eaeaeb solid 1px;

    height: 250px;
    margin-top: 30px;
    margin-bottom: 150px;
}

.title-button {
    display: flex;
    justify-content: space-between;
}

.column-bottom h3 {
    padding: 30px;
}

.contact {
    margin: 20px;
}

.column-bottom p {
    margin-top: 40px
}

.column-bottom strong,
.column-bottom p {
    margin-left: 30px;
}

/*end business plan*/





/*Dropbox Partner*/

section:nth-child(2) {
    display: flex;
    margin-bottom: 250px;
}

.image {
    width: 60%;
    height: 450px;
    margin-right: 40px;
}

.paragraph {
    width: 40%;
}

.paragraph h3 {
    margin-top: 50px;
}

.paragraph p,
.paragraph input {
    margin-left: 20px;
}

.paragraph input {
    background-color: white;

    padding: 10px;
    margin-top: 55px;
}





/*Dropbox Business*/

section>.container {
    display: flex;
    flex-wrap: wrap;

    height: 900px;
    margin-bottom: 190px;
}

section>h2 {
    margin-bottom: 60px;
    margin-top: 60px;
}

.tool {
    width: calc(100%/ 3);
    padding: 20px 0;
    padding-right: 40px;
}

.tool-image,
.tool-text {
    width: 100%;
}

.tool-text h3 {
    padding: 0;
    margin-bottom: 20px;
}





/*companies*/

.companies-container {
    display: flex;

    margin-top: 150px;
}

.square-inner {
    display: flex;
    flex-wrap: wrap;

    width: calc(100%/ 3);
    height: calc(100vw/ 3);
}

.square {
    position: relative;
    width: calc(100%/ 2);
    height: calc(100%/ 2);
    padding: 60px;

    transition: border-width .5s ease;

    border: 0px solid rgba(255, 255, 255, 0.5);
}

.big-designit-logo {
    width: 48%;
    height: 25%;
}

.square-inner hr {
    border: 1px solid #eaeaeb;

    width: 60px;
    margin-bottom: 32px;
    margin-top: 16px;
}

.companies-container div:nth-child(2) {
    display: block;
}

.square-inner:nth-child(2) {
    background-color: #f5f5f5;

    padding: 40px;

    overflow: auto;
}

address {
    margin-top: 30px;
}



/*style company logos */

.square img {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 50%;

    transform: translate(-50%, -50%);

    filter: invert(100%);

}

#designit {
    background-color: #a2d39b;
    color: white;

    padding: 50px;
}

#uni-arizona {
    background-color: #61082b;
}

#uni-florida {
    background-color: #0093ce;
}

#uni-florida img {
    padding: 40px 2px;
}

#topps {
    background-color: #ff1c1c;
}

#world {
    background-color: #d5001f;
}

#hearst {
    background-color: #B4D0E7;
}

#planet {
    background-color: #0d2481;
}

#channel {
    background-color: #ffd830;
}





/*Dropbox Business*/

.background {
    background-color: #B4D0E7;
    display: flex;
}

.box {
    padding: 80px 0;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.business {
    display: flex;
    align-items: center;
}

.subtitle {
    width: 500px;
}

.subtitle h2 {
    margin: 0;
    color: #62062a;
}

.button {
    text-align: right;
    width: 500px;
}

.button input {
    padding: 10px 30px;
    border: none;
    background-color: white;
}





/*Questions section*/

.question-box h2 {
    margin-top: 200px;
    margin-bottom: 20px;
}

.question {
    list-style: none;
    display: block;

    padding: 40px 0;
}

.question li {
    position: relative;

    border-top: 1px solid rgb(189, 189, 189);
    border-bottom: 1px solid rgb(189, 189, 189);
}

.question li:first-child {
    border-bottom: none;
}

.question li:last-child {
    border-top: none;
}

.question a {
    display: block;
    font-family: 'open-sans-bold', sans-serif;
    color: black;

    padding: 35px 0;
}

.answer {
    position: absolute;
    top: 60px;
    left: 0;

    padding: 30px 0;

    border-bottom: 1px solid rgb(189, 189, 189);
    visibility: hidden;
    opacity: 0;
    transition: 0.1s;
}

.fa-angle-down {
    position: absolute;
    top: 45%;
    right: 30px;
}

/*end main*/





/*start footer link section*/
footer {
    background-color: black;
    color: white;

    height: auto;
    margin-top: 70px;
}

.row-bot {
    display: flex;
    justify-content: left;

    padding: 80px 0;
    gap: 100px;
}

.columns {
    height: 280px;
    width: calc(100%/ 5);
}

.columns h3 {
    font-size: 20px;
    padding: 20px 0;
}

.ul-bot {
    display: block;
    line-height: 35px;
    padding: 0;
}

.ul-bot a {
    text-decoration: none;
    color: white;
}

#line {
    width: 100px;
}

.language {
    padding: 30px 0;
}





/*on-hover style*/

.ul-bot a:hover {
    text-decoration: underline;
}

ul a:hover {
    text-decoration: underline;
}

#start:hover,
.blue-button:hover,
.button input:hover,
.paragraph input:hover {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.blue-button:hover,
#start:hover {
    background-color: #4d8df4;
}

.button input:hover,
.paragraph input:hover {
    color: rgb(59, 149, 239);
}

.radio input:checked {
    box-shadow: inset 0 0 0 3px rgb(32, 114, 255);
    border: rgb(32, 114, 255) 1px solid;
}

.square:hover {
    border-width: 16px;
}



/*bonus*/

.question .ask:hover .fa-angle-down {
    transform: rotate(180deg);
}

.question .ask:hover .answer {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    background-color: white;
}